*.class
#package file
*.war
*.ear

#kdiff3 file
*.orig

#maven ignore
target/

#eclipse
.settings/
.project
.classpatch

#idea
.idea/
/idea/
*.ipr
*.iml
*.iws

#temp file
*.log
*.cache
*.diff
*.patch
*.tmp

#system
..DS_Store
Thumbs.db